@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.contact {
  .lower-header {
    position: relative;
    padding: 6.4rem 12rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 9.6rem;
      height: 3px;
      background: linear-gradient(to left, #002864, #005169 25%, #006882 50%, #00a3a3 70%, #dae000 95%, #dae000);
    }

    h1 {
      color: #002864;
      font-size: 4.4rem;
      font-family: "Shippori Mincho B1", serif;
      line-height: 1.6;
    }
  }

  .breadcrumb {
    padding: 2.4rem 0;
    background-color: #e6f0f5;

    ol {
      display: flex;
      flex-wrap: wrap;
      gap: 0 2rem;
      margin: 0 auto;
      max-width: 100rem;
      @include f.mq(sp) {
        max-width: 65rem;
      }

      li {
        position: relative;
        color: #828282;
        font-size: 2rem;

        + li {
          position: relative;
          padding-left: 2.6rem;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 6px;
            height: 6px;
            border-right: 1.2px solid #002864;
            border-top: 1.2px solid #002864;
            transform: translateY(-50%) rotate(45deg);
          }
        }

        &:last-child {
          color: #002864;
          pointer-events: none;
        }
      }
    }
  }

  .input {
    margin: 8rem 0 0 0;
    .inner {
      margin: 0 auto;
      max-width: 100rem;
      @include f.mq(sp) {
        max-width: 65rem;
      }
    }

    .lead {
      font-size: 1.6rem;
      line-height: 2;
      letter-spacing: 0.02em;

      span {
        display: block;
        color: #f00;
      }
    }

    .error {
      width: 100%;
      margin-top: 1rem;
      color: #f00;
      font-size: 1.2rem;
      @include f.mq(sp) {
        font-size: 2.4rem;
      }
    }

    span[role="status"] {
      display: block;
      span {
        margin: 1rem 0 0 0;
        &[aria-hidden="true"] {
          display: none;
        }
        &[aria-hidden="false"] {
          display: flex;
        }
      }

      .error-message,
      .format-error-message {
        position: relative;
        color: #de6443;
        &::before {
          content: "";
          display: inline-block;
          margin: 0 0.6rem 0 0;
          width: 1.8rem;
          height: 1.8rem;
          background-image: url("/assets/images/common/icon-error-msg.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      .ok-message {
        color: #03b87c;
      }
    }

    form {
      margin-top: 6rem;
      font-size: 1.6rem;
      @include f.mq(sp) {
        margin-top: 10rem;
      }

      dl > div,
      dl > fieldset {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;
        @include f.mq(sp) {
          flex-direction: column;
        }

        dt {
          width: 25rem;
          font-weight: 700;
          line-height: 3rem;
          @include f.mq(sp) {
            width: auto;
            font-size: 2.8rem;
          }
        }

        dd {
          input:not([name="type"]) {
            width: 60rem;
            height: 4rem;
            border-radius: 5px;
            background-color: #f7f7f7;
            padding: 0.5em;
            caret-color: #002864;
            @include f.mq(sp) {
              width: 100%;
              height: auto;
              font-size: 2.8rem;
            }

            &.is-invalid {
              border: 1px solid #de6443;
            }
          }

          textarea {
            width: 60rem;
            min-height: 16rem;
            border-radius: 5px;
            background-color: #f7f7f7;
            padding: 0.5em;
            font-size: 1.6rem;
            resize: vertical;
            caret-color: #002864;
            @include f.mq(sp) {
              width: 100%;
              min-height: 25rem;
              font-size: 2.8rem;
            }
          }
        }

        &.type {
          dd {
            width: 60rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5rem 4rem;
            line-height: 3rem;
            @include f.mq(sp) {
              width: 100%;
              gap: 2rem;
              margin-top: 1rem;
            }

            label {
              white-space: nowrap;
              @include f.mq(sp) {
                font-size: 2.8rem;
              }
            }

            .error {
              margin-top: 0;
            }
          }
        }
      }

      label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        input {
          margin: 0;
          padding: 0;
          background: none;
          border: none;
          border-radius: 0;
          outline: none;
          appearance: none;

          &:focus {
            ~ .text::after {
              transform: scale3d(1, 1, 1);
              transform-origin: left;
            }
          }

          &:checked {
            + .icon::before {
              border-color: #002864;
              opacity: 0;
              transform: rotate(45deg) scale3d(2, 2, 1);
            }

            + .icon::after {
              border-bottom: 2px solid #002864;
              border-left: 2px solid #002864;
              opacity: 1;
              transform: rotate(-45deg);
            }

            ~ .text {
              color: #002864;
            }
          }
        }

        .icon {
          position: relative;
          display: inline-block;
          width: 2.4rem;
          height: 2.4rem;
          @include f.mq(sp) {
            width: 3rem;
            height: 3rem;
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
          }

          &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1.5px solid #ccc;
            border-radius: 4px;
            transition: border-color 0.5s, opacity 0.5s, transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          }

          &::after {
            top: 0.5rem;
            left: 0.3rem;
            width: 1.6rem;
            height: 0.8rem;
            border-bottom: 2px solid #002864;
            border-left: 2px solid #002864;
            opacity: 0;
            transform: rotate(-225deg);
            transition: opacity 0.5s, transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            @include f.mq(sp) {
              top: 0.7rem;
              width: 2rem;
              height: 1.2rem;
            }
          }
        }

        .text {
          position: relative;
          display: inline-block;
          letter-spacing: 0.05em;
          margin: 0 0 0 1rem;

          &:hover {
            color: #002864;
          }

          &::after {
            background-color: #002864;
            bottom: -2px;
            content: "";
            display: inline-block;
            height: 1px;
            left: 0;
            position: absolute;
            transform: scale3d(0, 1, 1);
            transform-origin: right;
            transition: transform 0.3s;
            width: 100%;
          }
        }
      }

      .instruction {
        width: 86rem;
        height: 20rem;
        padding: 3rem;
        margin: 5rem auto;
        overflow-y: scroll;
        overscroll-behavior: contain;
        border: 1px solid #ccc;
        @include f.mq(sp) {
          width: 100%;
          height: 30rem;
        }

        dl {
          dt {
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
            @include f.mq(sp) {
              font-size: 2.4rem;
            }

            &::before {
              content: "";
              display: inline-block;
              width: 1.2rem;
              height: 1.2rem;
              margin-right: 0.5rem;
              background-color: #002864;
              @include f.mq(sp) {
                width: 1.8rem;
                height: 1.8rem;
              }
            }

            &:not(:first-of-type) {
              margin-top: 4rem;
            }
          }

          dd {
            line-height: 1.7;
            @include f.mq(sp) {
              font-size: 2.2rem;
            }

            ol {
              margin: 1.6rem 0 4rem 3rem;
              list-style: auto;
              @include f.mq(sp) {
              }
            }

            a {
              display: block;
              width: fit-content;
              text-decoration: underline;
            }
          }
        }
      }

      .agreement {
        display: flex;
        justify-content: center;
        @include f.mq(sp) {
          font-size: 2.4rem;
        }
      }

      .submit-button {
        display: flex;
        justify-content: center;
        margin: 10rem 0;

        button {
          transition: background-color 0.2s ease, color 0.2s ease;
          border: 1px solid #000;
          width: 37rem;
          text-align: center;
          font-size: 1.6rem;
          line-height: 8rem;
          letter-spacing: 0.4em;
          @include f.mq(sp) {
            font-size: 2.8rem;
          }

          &[aria-disabled="true"] {
            opacity: 0.5;
            cursor: not-allowed;
          }

          &[aria-disabled="false"] {
            opacity: 1;
            cursor: pointer;
            &:hover {
              color: #fff;
              background-color: #000;
            }
          }
        }
      }
    }
  }

  .confirm {
    margin: 8rem 0 0 0;

    .inner {
      margin: 0 auto;
      max-width: 100rem;
    }

    .lead {
      font-size: 1.6rem;
      line-height: 2;
      letter-spacing: 0.02em;
      @include f.mq(sp) {
        text-align: initial;
        font-size: 2.8rem;
      }
    }

    form {
      margin-top: 6rem;
      font-size: 1.6rem;
      @include f.mq(sp) {
        margin-top: 10rem;
      }
    }

    dl > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      @include f.mq(sp) {
        flex-direction: column;
      }

      &:not(:first-of-type) {
        margin-top: 4rem;
        @include f.mq(sp) {
        }
      }

      dt {
        width: 25rem;
        font-weight: 700;
        line-height: 3rem;
        @include f.mq(sp) {
          width: auto;
          font-size: 2.8rem;
        }
      }

      dd {
        white-space: pre-wrap;
        input:not([name="type"]) {
          width: 60rem;
          height: 4rem;
          border-radius: 5px;
          background-color: #f7f7f7;
          padding: 0.5em;
          @include f.mq(sp) {
            width: 100%;
            height: auto;
            font-size: 2.8rem;
          }
        }

        textarea {
          width: 60rem;
          min-height: 16rem;
          border-radius: 5px;
          background-color: #f7f7f7;
          padding: 0.5em;
          font-size: 1.6rem;
          resize: vertical;
          @include f.mq(sp) {
            width: 100%;
            min-height: 25rem;
            font-size: 2.8rem;
          }
        }

        p {
          margin-top: 0.8rem;
          color: #999;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3;
        }
      }
    }

    .submit-button {
      display: flex;
      justify-content: center;
      gap: 5rem;
      margin: 10rem 0;
      @include f.mq(sp) {
      }

      button {
        transition: background-color 0.2s ease, color 0.2s ease;
        border: 1px solid #000;
        width: 37rem;
        text-align: center;
        font-size: 1.6rem;
        line-height: 8rem;
        letter-spacing: 0.4em;
        @include f.mq(sp) {
          font-size: 2.8rem;
        }

        &[aria-disabled="true"] {
          opacity: 0.5;
          cursor: not-allowed;
        }

        &[aria-disabled="false"] {
          opacity: 1;
          cursor: pointer;
          &:hover {
            color: #fff;
            background-color: #000;
          }
        }
      }
    }
  }

  .thanks {
    margin: 8rem 0 0 0;

    .inner {
      margin: 0 auto;
      max-width: 100rem;
    }

    .lead {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.1em;
      @include f.mq(sp) {
        font-size: 2.8rem;
      }
    }

    .text {
      margin-top: 3rem;
      font-size: 1.6rem;
      line-height: 2;
      letter-spacing: 0.05em;
      @include f.mq(sp) {
        font-size: 2.6rem;
      }
    }

    .top-button {
      width: 37rem;
      margin: 10rem auto 0;

      a {
        display: block;
        width: 100%;
        border: 1px solid #000;
        transition: background-color 0.2s ease, color 0.2s ease;
        text-align: center;
        font-size: 1.6rem;
        line-height: 8rem;
        letter-spacing: 0.4em;
        @include f.mq(sp) {
          font-size: 2.8rem;
        }

        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
    }
  }
}
