@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.front-page {
  .splide {
    height: calc(100vh - 8rem);

    .splide-slider {
      top: 50%;
      height: 100%;
      transform: translateY(-50%);

      &[aria-live="polite"] .splide__slide img {
        animation-play-state: paused;
      }

      .splide__slide {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #ffffff;

        &[class] {
          position: relative;
          display: block;
          width: 100%;
        }

        &[class*="-active"] img {
          animation: 4.5s img-scale ease-in;
        }

        &[class*="is-prev"] img {
          animation: 1s img-scale-prev ease-out;
        }

        img,
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        img {
          transform: scale(1.05);
        }
      }

      .splide-text-area {
        position: absolute;
        left: 5rem;
        bottom: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        color: #fff;
        font-family: "Shippori Mincho B1", serif;
        letter-spacing: -0.06em;
        text-shadow: #222222 0 0 1rem;

        p {
          font-size: 4rem;
          line-height: 1.8;
        }
      }
    }

    .splide__arrows {
      position: absolute;
      left: 6rem;
      bottom: 6rem;
      display: flex;
      justify-content: center;

      .splide__arrow--prev,
      .splide__toggle,
      .splide__arrow--next {
        position: relative;
        display: block;
        margin: 0 0.5rem;
        width: 5rem;
        height: 3rem;
        border-bottom: 1px solid #fff;
        line-height: 1;
        text-indent: 1000%;
        white-space: nowrap;
        overflow: hidden;
      }

      .splide__arrow--prev::before,
      .splide__toggle::before,
      .splide__arrow--next::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1.8rem;
        height: 0.8rem;
        background-repeat: no-repeat;
        transform: translateX(-50%);
      }

      .splide__arrow--prev::before,
      .splide__arrow--next::before {
        background-image: url("/assets/images/top/arrow_one-side_white.svg");
        background-size: 100%;
      }

      .splide__arrow--next::before {
        transform: scale(-1, 1) translateX(50%);
      }

      .splide__toggle:not(.is-active)::before {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #fff;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
      }

      .splide__toggle.is-active {
        border-color: #fff;
      }

      .splide__toggle.is-active::before,
      .splide__toggle.is-active::after {
        width: 0.2rem;
        height: 1.2rem;
        background-color: #fff;
      }

      .splide__toggle.is-active::before {
        left: calc(50% - 3px);
      }

      .splide__toggle.is-active::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% + 3px);
        transform: translateX(-50%);
      }
    }
  }

  @keyframes img-scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.04);
    }
  }

  @keyframes img-scale-prev {
    from {
      transform: scale(1.04);
    }
    to {
      transform: scale(1.05);
    }
  }

  .news {
    max-width: 100rem;
    margin: 16rem auto 12rem;

    .inner {
      margin: 0 auto;
      max-width: 100rem;
      @include f.mq(sp) {
        max-width: 65rem;
      }
    }

    h2 {
      color: #002864;
      font-size: 2rem;
      text-align: center;
      letter-spacing: 0.2em;
      @include f.mq(sp) {
        font-size: 3rem;
      }
    }

    .title-en {
      display: flex;
      justify-content: center;
      color: #002864;
      font-size: 6rem;
      text-align: center;
      @include f.mq(sp) {
        margin: 2.4rem 0 0 0;
      }
    }

    div[role="tablist"] {
      display: flex;
      margin: 5.6rem 0 0 0;
      border-bottom: 2px solid #002864;

      button {
        position: relative;
        width: 33.333%;
        height: 8rem;
        color: #002864;
        font-size: 2.4rem;
        text-align: center;
        cursor: pointer;
        @include f.mq(sp) {
          font-size: 3.2rem;
        }

        &[aria-selected="true"] {
          background-color: #e6f0f5;

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -1.5rem;
            width: 1px;
            height: 3rem;
            background-color: #002864;
            transform: translateX(-50%);
          }
        }
      }
    }

    div[role="tabpanel"] {
      a {
        display: flex;
        padding: 3.5rem 3rem;
        color: #323232;
        font-size: 1.8rem;
        border-bottom: 1px solid #aaa;
        @include f.mq(sp) {
          flex-direction: column;
          font-size: 3rem;
        }

        p {
          margin: 0 0 0 4rem;
          line-height: 1.7;
          @include f.mq(sp) {
            margin: 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }

      .empty-text {
        padding: 8rem 0;
        font-size: 1.6rem;
        text-align: center;
      }
    }

    .more-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4.8rem auto 0;
      padding: 1.2rem 2.4rem;
      max-width: 16rem;
      background-color: #002864;
      color: #fff;
      font-size: 1.4rem;
      letter-spacing: 0.2em;
      @include f.mq(sp) {
        margin: 8rem auto 0 auto;
        padding: 1.6rem 2.4rem;
        max-width: 32rem;
        font-size: 3.4rem;
      }

      svg {
        margin: 0 0 0 2rem;
        width: 4rem;
        @include f.mq(sp) {
          width: 8rem;
        }
      }
    }
  }

  .support {
    position: relative;
    margin: 14rem 0 0 0;
    @include f.mq(sp) {
      margin: 24rem 0 0 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 3.5rem;
      right: 0;
      z-index: -1;
      width: 92%;
      height: 42.3rem;
      background-color: #e6f0f5;
      @include f.mq(sp) {
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    .support-img {
      position: absolute;
      top: 16rem;
      left: 0;
      z-index: -1;
      width: 80%;
      height: 40rem;
      @include f.mq(sp) {
        top: 0;
        width: 100%;
        height: 69.5rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .inner {
      margin: 0 auto;
      max-width: 100rem;
      @include f.mq(sp) {
        padding: 0 0 18rem 0;
      }
    }

    h2 {
      color: #002864;
      font-size: 2rem;
      text-align: left;
      letter-spacing: 0.2em;
      @include f.mq(sp) {
        padding: 7rem 0 0 0;
        color: #fff;
        font-size: 3rem;
        text-align: center;
      }
    }

    .title-en {
      margin: 2rem 0 0 0;
      color: #002864;
      font-size: 6rem;
      @include f.mq(sp) {
        display: flex;
        justify-content: center;
        margin: 2.5rem 0 0 0;
        color: #fff;
        font-size: 7rem;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      margin: 25rem 0 0 0;
      @include f.mq(sp) {
        display: block;
        margin: 5rem 0 0 0;
      }

      li {
        position: relative;
        width: 31rem;
        height: 32rem;
        padding: 4rem;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
        @include f.mq(sp) {
          width: 63rem;
          height: auto;
          margin: 0 auto;
          padding: 5rem;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          &:not(:first-child) {
            margin-top: 7rem;
          }
        }
      }

      h3 {
        position: relative;
        padding-bottom: 1rem;
        color: #002864;
        font-size: 2.6rem;
        text-align: center;
        @include f.mq(sp) {
          padding-bottom: 2rem;
          font-size: 4.2rem;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 4.2rem;
          height: 1px;
          background: #002864;
          transform: translateX(-50%);
          @include f.mq(sp) {
            width: 4.2rem;
          }
        }
      }

      p {
        margin-top: 3rem;
        font-size: 1.6rem;
        line-height: 1.7;
        @include f.mq(sp) {
          margin-top: 3rem;
          font-size: 3.2rem;
        }
      }

      a {
        position: absolute;
        right: -1rem;
        bottom: 2.5rem;
        display: flex;
        align-items: center;
        padding: 1.2rem 2.4rem;
        background-color: #002864;
        color: #fff;
        font-size: 1.4rem;
        letter-spacing: 0.2em;
        @include f.mq(sp) {
          position: initial;
          justify-content: center;
          margin: 6rem auto 0 auto;
          padding: 1.6rem 2.4rem;
          max-width: 32rem;
          font-size: 3.4rem;
        }

        svg {
          margin: 0 0 0 2rem;
          width: 4rem;
          @include f.mq(sp) {
            width: 8rem;
          }
        }
      }
    }
  }

  .business {
    margin: 15rem 0 0 0;
    content-visibility: auto;
    contain-intrinsic-size: 45rem;
    @include f.mq(sp) {
      margin: 0;
    }

    .inner {
      position: relative;
      margin: 0 auto;
      padding: 7rem 0 5rem;
      max-width: 100rem;
    }

    h2 {
      color: #fff;
      font-size: 2rem;
      line-height: 1;
      letter-spacing: 0.2em;
      text-align: left;
      @include f.mq(sp) {
        font-size: 3rem;
        text-align: center;
      }
    }

    .title-en {
      color: #fff;
      font-size: 6rem;
      text-align: left;
      @include f.mq(sp) {
        display: flex;
        justify-content: center;
        font-size: 7rem;
      }
    }

    .business-img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: #000b26;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1.6rem 2.7rem;
      margin-top: 5rem;
      @include f.mq(sp) {
        justify-content: center;
      }

      li {
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 31.5rem;
          height: 7rem;
          font-size: 1.7rem;
          background: #fff;
          color: #000;
          @include f.mq(sp) {
            width: 50rem;
            height: 10rem;
            margin: 0 auto;
            font-size: 3.2rem;
          }

          span {
            margin: 0 0 0 6rem;
          }

          svg {
            margin: 0 0 0 2rem;
            width: 4rem;
            @include f.mq(sp) {
              width: 8rem;
            }
          }
        }
      }
    }
  }

  .faq {
    position: relative;
    margin: 14rem 0 0 0;
    @include f.mq(sp) {
      margin: 24rem 0 0 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 3.5rem;
      left: 0;
      z-index: -1;
      width: 92%;
      height: 100%;
      background-color: #e6f0f5;
      @include f.mq(sp) {
        top: 0;
        width: 100%;
      }
    }

    .inner {
      margin: 0 auto 12rem;
      max-width: 100rem;
      @include f.mq(sp) {
        margin: 0 auto;
        padding: 0 0 10rem 0;
        max-width: 64rem;
      }
    }

    h2 {
      color: #002864;
      font-size: 2rem;
      text-align: left;
      letter-spacing: 0.2em;
      @include f.mq(sp) {
        padding: 7rem 0 0 0;
        font-size: 3rem;
        text-align: center;
      }
    }

    .title-en {
      margin: 2rem 0 0 0;
      color: #002864;
      font-size: 6rem;
      @include f.mq(sp) {
        display: flex;
        justify-content: center;
        margin: 2.5rem 0 0 0;
        font-size: 7rem;
      }
    }

    details {
      margin: 4rem 0 0 0;

      & + & {
        margin: 2rem 0 0 0;
      }

      &[data-expanded="true"] {
        summary {
          &::before {
            transform: translateY(-50%) rotate(0deg);
          }
        }
      }

      summary {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        height: 8rem;
        background-color: #e5e8ea;
        cursor: pointer;
        font-family: "Shippori Mincho B1", serif;
        font-size: 2rem;
        @include f.mq(sp) {
          font-size: 3rem;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 1.6rem;
          z-index: 10;
          width: 1.6rem;
          height: 2px;
          background-color: #002864;
          transform: translateY(-50%);
          @include f.mq(sp) {
            width: 2.4rem;
          }
        }

        &::before {
          transform: translateY(-50%) rotate(90deg);
          transition: transform 0.4s ease;
        }
      }

      .accordion-content {
        .content-inner {
          padding: 1.6rem;
          font-size: 1.6rem;
          line-height: 1.7;
          @include f.mq(sp) {
            font-size: 2.4rem;
          }
        }
      }
    }
  }

  .contact {
    content-visibility: auto;
    contain-intrinsic-size: 30rem;

    .inner {
      padding: 80px 0 50px;
      background-color: #f0f0f0;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 56rem;
      height: 10rem;
      background-color: #002864;
      color: #fff;
      font-size: 3.2rem;
      letter-spacing: 0.2em;
      @include f.mq(sp) {
        width: 60rem;
        font-size: 4rem;
      }
    }

    p {
      margin: 2.4rem 0 0 0;
      font-size: 2rem;
      text-align: center;
      @include f.mq(sp) {
        margin: 3.2rem 0 0 0;
        font-size: 2.8rem;
      }
    }
  }

  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.6s ease;

    &[data-modal-expanded="true"] {
      opacity: 1;
      visibility: visible;
    }
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000000;
    width: 126rem;
    transform: translate(-50%, -50%);
    will-change: transform;
    @include f.mq(sp) {
      width: 72rem;
    }

    &[aria-modal="true"] {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: opacity 0.6s ease, transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &[aria-modal="false"] {
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, -44%);
      transition: visibility 0.6s ease, opacity 0.6s ease, transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .inner {
      position: relative;
      padding: 8rem;
      height: auto;
      border: 5px solid #48558f;
      background-color: #fff;
      border-radius: 0 0 1rem 1rem;
      overflow-y: scroll;
      @include f.mq(sp) {
        padding: 4rem;
      }
    }

    .modal-close-btn {
      position: absolute;
      top: 3rem;
      right: 3rem;
      z-index: 10;
      width: 4rem;
      height: 4rem;
      background-color: #002864;
      border-radius: 50%;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 33%;
        z-index: 10;
        display: block;
        width: 1.4rem;
        height: 0.1rem;
        background-color: #fff;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    h2 {
      position: relative;
      font-size: 2.8rem;
      @include f.mq(sp) {
        font-size: 3.2rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -3rem;
        display: block;
        width: 1.8rem;
        height: 6rem;
        background-color: #002864;
      }
    }

    dl {
      margin: 1rem 0 0 0;
      padding: 4rem 0 0 0;
      border-top: 1px solid #002864;

      dt {
        color: #002864;
        font-size: 2rem;
        font-weight: 900;
        @include f.mq(sp) {
          font-size: 2.8rem;
        }
      }

      dd {
        margin: 11px 0 0 0;
        background-color: #e6f0f5;
        padding: 3rem 4rem;
        font-size: 1.8rem;
        line-height: 2;
        @include f.mq(sp) {
          font-size: 2.4rem;
        }
      }
    }
  }
}
