@use "../base/shortcut-functions" as f;
@use "./modules" as modules;

html {
  @include f.rem-base-font-size;
  font-family: "Times New Roman", "Shippori Mincho", "YuMincho", serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";

  &.is-drawer-expanded {
    overflow: hidden;

    .site-header {
      nav {
        height: calc(100vh - 64px);
        visibility: visible;
      }
    }
  }
}

.site-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
