@use "../base/shortcut-functions" as f;
@use "./modules" as modules;

html {
  font-family: "Times New Roman", "Shippori Mincho", "YuMincho", serif;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  @media (max-width: 1400px) and (min-width: 751px) {
    font-size: 0.7142857142857143vw;
  }

  @media (max-width: 750px) {
    font-size: 1.333vw;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
  background-color: #fff;

  &[data-expanded="true"] {
    overflow: hidden;
    @include f.mq(sp) {
      .site-header {
        nav {
          height: calc(100vh - 12rem);
          visibility: visible;
        }
      }
    }
  }

  &[data-modal-expanded="true"] {
    overflow: hidden;
  }

  &[data-user-select="false"] {
    header,
    main,
    footer {
      pointer-events: none;
      user-select: none;
    }
  }
}

.site-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:target {
  scroll-margin-top: 10rem;
  @include f.mq(sp) {
    scroll-margin-top: 12rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
