/*!*************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!../assets/scss/styles.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .tb1:not(.sp) {
    display: none;
  }
  .pc1:not(.sp) {
    display: none;
  }
  .pc2:not(.sp) {
    display: none;
  }
  .pc3:not(.sp) {
    display: none;
  }
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .sp:not(.tb1) {
    display: none;
  }
  .pc1:not(.tb1) {
    display: none;
  }
  .pc2:not(.tb1) {
    display: none;
  }
  .pc3:not(.tb1) {
    display: none;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .sp:not(.pc1) {
    display: none;
  }
  .tb1:not(.pc1) {
    display: none;
  }
  .pc2:not(.pc1) {
    display: none;
  }
  .pc3:not(.pc1) {
    display: none;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1920px) {
  .sp:not(.pc2) {
    display: none;
  }
  .tb1:not(.pc2) {
    display: none;
  }
  .pc1:not(.pc2) {
    display: none;
  }
  .pc3:not(.pc2) {
    display: none;
  }
}
@media screen and (min-width: 1921px) {
  .sp:not(.pc3) {
    display: none;
  }
  .tb1:not(.pc3) {
    display: none;
  }
  .pc1:not(.pc3) {
    display: none;
  }
  .pc2:not(.pc3) {
    display: none;
  }
}
@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide:not(.is-overflow) .splide__pagination {
  display: none;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized,
.splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

[data-anime=false] {
  opacity: 0;
}

[data-anime=true] {
  animation: fadeIn-up 1s cubic-bezier(0.31, 0.2, 0.13, 1) forwards;
}

@keyframes fadeIn-up {
  0% {
    opacity: 0;
    transform: translate(0, 80px);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
html {
  font-family: "Times New Roman", "Shippori Mincho", "YuMincho", serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 1400px) and (min-width: 751px) {
  html {
    font-size: 0.7142857143vw;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 1.333vw;
  }
}

body {
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
}
body.is-drawer-expanded {
  overflow: hidden;
}
body.is-drawer-expanded .site-header nav {
  height: calc(100vh - 64px);
  visibility: visible;
}

.site-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:target {
  scroll-margin-top: 10rem;
}

.site-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #fff;
}
.site-header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding: 0 6rem;
  max-width: 140rem;
  height: 9.5rem;
}
.site-header h1 a,
.site-header .logo a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  color: #002864;
  font-size: 3.2rem;
}
.site-header h1 a:focus,
.site-header .logo a:focus {
  opacity: 0.8;
}
@media (hover: hover) and (pointer: fine) {
  .site-header h1 a:hover,
  .site-header .logo a:hover {
    opacity: 0.8;
  }
}
.site-header nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.site-header nav ul li:last-child a {
  padding: 1rem 2.4rem;
  border: 2px solid #ddd;
  border-radius: 20px;
}
.site-header nav ul li:not(:last-child) a:focus {
  color: #002864;
}
.site-header nav ul li:not(:last-child) a:focus::after {
  width: 100%;
}
@media screen and (max-width: 750px) {
  .site-header nav ul li:not(:last-child) a:focus::after {
    width: 10px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .site-header nav ul li:not(:last-child) a:hover {
    color: #002864;
  }
  .site-header nav ul li:not(:last-child) a:hover::after {
    width: 100%;
  }
}
@media screen and (hover: hover) and (pointer: fine) and (max-width: 750px) {
  .site-header nav ul li:not(:last-child) a:hover::after {
    width: 10px;
  }
}
.site-header nav ul li:not(:last-child) a.is-current-section {
  color: #002864;
}
.site-header nav ul li:not(:last-child) a.is-current-section::after {
  width: 100%;
}
@media screen and (max-width: 750px) {
  .site-header nav ul li:not(:last-child) a.is-current-section::after {
    width: 10px;
  }
}
.site-header nav ul li:not(:last-child) a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 10;
  display: block;
  width: 0;
  height: 1px;
  background-color: #002864;
  transform: translateX(-50%);
  transition: width 0.2s ease;
}
.site-header nav ul li a {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
}
@media screen and (max-width: 750px) {
  .site-header .inner {
    padding: 0 1.5rem;
    max-width: 690px;
    height: 64px;
  }
  .site-header h1 img,
  .site-header div img {
    width: 219px;
    height: 31px;
  }
  .site-header nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    overflow: auto;
    visibility: hidden;
    transition: height 0.4s ease, visibility 0.4s ease;
  }
  .site-header nav ul {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }
  .site-header nav ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .site-header nav > ul > li:not(:last-child) + li:not(:last-child) {
    border-top: 1px solid #e0d9d9;
  }
  .site-header nav > ul > li:first-child {
    border-top: 1px solid #e0d9d9;
  }
  .site-header nav > ul > li:last-child {
    align-items: center;
    margin: 3.2rem 0;
  }
  .site-header nav > ul > li > a {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-header nav > ul > li:nth-child(4) > a {
    border-bottom: 1px solid #e0d9d9;
  }
  .site-header nav > ul > li:not(:last-child) > a {
    padding: 2.2rem 2rem;
    border-left: 3px solid #002864;
  }
  .site-header nav > ul > li:not(:last-child) > a::after {
    position: relative;
    bottom: auto;
    left: auto;
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-right: 2px solid #002864;
    border-bottom: 2px solid #002864;
    background-color: transparent;
    transform: rotate(-45deg);
  }
  .site-header nav > ul > li:last-child a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 315px;
    height: 70px;
    border-radius: 50px;
    font-size: 18px;
  }
  .site-header nav > ul > li:last-child a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 16px;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-image: url("/assets/images/common/icon-contact.png");
    background-repeat: no-repeat;
    background-size: 24px 16px;
    background-position: center;
    border: 2px solid #002864;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .site-header nav ul li a.hover::after,
  .site-header nav ul li a.is-current-section::after {
    width: 10px;
  }
  .site-header button {
    position: relative;
    display: block;
    width: 24px;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  .site-header button .drawer-line {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 24px;
    height: 2px;
    background-color: #002864;
    transform: translateY(-50%);
    transition: background-color 0.2s ease;
  }
  .site-header button[aria-expanded=true] .drawer-line {
    background-color: transparent;
  }
  .site-header button .drawer-line::before,
  .site-header button .drawer-line::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #002864;
    transition: transform 0.4s ease;
  }
  .site-header button[aria-expanded=false] .drawer-line::before {
    top: -6px;
  }
  .site-header button[aria-expanded=false] .drawer-line::after {
    top: 6px;
  }
  .site-header button[aria-expanded=true] .drawer-line::before {
    top: 0;
    transform: rotate(45deg);
  }
  .site-header button[aria-expanded=true] .drawer-line::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

.site-footer {
  background-color: #323232;
}
.site-footer .inner {
  max-width: 100rem;
  margin: 0 auto;
  padding: 8rem 0 6rem;
}
@media screen and (max-width: 750px) {
  .site-footer .inner {
    padding: 6.4rem 0 4.8rem;
  }
}
.site-footer a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4.8rem;
  color: #fff;
  font-size: 3.2rem;
}
@media screen and (max-width: 750px) {
  .site-footer a {
    height: 3.2rem;
  }
}
.site-footer .tel {
  display: flex;
  justify-content: center;
  margin: 4rem 0 0 0;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 750px) {
  .site-footer .tel {
    margin: 6.6rem 0 0 0;
    font-size: 3rem;
  }
}
.site-footer .hours {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (max-width: 750px) {
  .site-footer .hours {
    font-size: 2rem;
  }
}
.site-footer small {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 750px) {
  .site-footer small {
    margin-top: 6.5rem;
    font-size: 1.8rem;
  }
}

.front-page .splide {
  height: calc(100vh - 8rem);
}
.front-page .splide .splide-slider {
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
}
.front-page .splide .splide-slider[aria-live=polite] .splide__slide img {
  animation-play-state: paused;
}
.front-page .splide .splide-slider .splide__slide {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
}
.front-page .splide .splide-slider .splide__slide[class] {
  position: relative;
  display: block;
  width: 100%;
}
.front-page .splide .splide-slider .splide__slide[class*=-active] img {
  animation: 4.5s img-scale ease-in;
}
.front-page .splide .splide-slider .splide__slide[class*=is-prev] img {
  animation: 1s img-scale-prev ease-out;
}
.front-page .splide .splide-slider .splide__slide img,
.front-page .splide .splide-slider .splide__slide video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.front-page .splide .splide-slider .splide__slide img {
  transform: scale(1.05);
}
.front-page .splide .splide-slider .splide-text-area {
  position: absolute;
  left: 5rem;
  bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  color: #fff;
  font-family: "Shippori Mincho B1", serif;
  letter-spacing: -0.06em;
  text-shadow: #222222 0 0 1rem;
}
.front-page .splide .splide-slider .splide-text-area p {
  font-size: 4rem;
  line-height: 1.8;
}
.front-page .splide .splide__arrows {
  position: absolute;
  left: 6rem;
  bottom: 6rem;
  display: flex;
  justify-content: center;
}
.front-page .splide .splide__arrows .splide__arrow--prev,
.front-page .splide .splide__arrows .splide__toggle,
.front-page .splide .splide__arrows .splide__arrow--next {
  position: relative;
  display: block;
  margin: 0 0.5rem;
  width: 5rem;
  height: 3rem;
  border-bottom: 1px solid #fff;
  line-height: 1;
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}
.front-page .splide .splide__arrows .splide__arrow--prev::before,
.front-page .splide .splide__arrows .splide__toggle::before,
.front-page .splide .splide__arrows .splide__arrow--next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.8rem;
  height: 0.8rem;
  background-repeat: no-repeat;
  transform: translateX(-50%);
}
.front-page .splide .splide__arrows .splide__arrow--prev::before,
.front-page .splide .splide__arrows .splide__arrow--next::before {
  background-image: url("/assets/images/top/arrow_one-side_white.svg");
  background-size: 100%;
}
.front-page .splide .splide__arrows .splide__arrow--next::before {
  transform: scale(-1, 1) translateX(50%);
}
.front-page .splide .splide__arrows .splide__toggle:not(.is-active)::before {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.front-page .splide .splide__arrows .splide__toggle.is-active {
  border-color: #ffffff;
}
.front-page .splide .splide__arrows .splide__toggle.is-active::before,
.front-page .splide .splide__arrows .splide__toggle.is-active::after {
  width: 0.2rem;
  height: 1.2rem;
  background-color: #ffffff;
}
.front-page .splide .splide__arrows .splide__toggle.is-active::before {
  left: calc(50% - 3px);
}
.front-page .splide .splide__arrows .splide__toggle.is-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% + 3px);
  transform: translateX(-50%);
}
@keyframes img-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}
@keyframes img-scale-prev {
  from {
    transform: scale(1.04);
  }
  to {
    transform: scale(1.05);
  }
}
.front-page .news {
  max-width: 100rem;
  margin: 16rem auto 12rem;
}
.front-page .news .inner {
  margin: 0 auto;
  max-width: 100rem;
}
@media screen and (max-width: 750px) {
  .front-page .news .inner {
    padding-bottom: 18rem;
  }
}
.front-page .news .c_sec-title {
  line-height: 1;
  color: #002864;
  text-align: center;
  letter-spacing: 0.2em;
}
.front-page .news .c_sec-title .title-en {
  font-size: 6rem;
}
.front-page .news .c_sec-title .title-ja {
  margin-top: 2rem;
  font-size: 2rem;
}
.front-page .news div[role=tablist] {
  display: flex;
  margin: 5.6rem 0 0 0;
  border-bottom: 2px solid #002864;
}
.front-page .news div[role=tablist] button {
  position: relative;
  width: 33.333%;
  height: 80px;
  color: #002864;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}
.front-page .news div[role=tablist] button[aria-selected=true] {
  background-color: #e6f0f5;
}
.front-page .news div[role=tablist] button[aria-selected=true]::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1.5rem;
  width: 1px;
  height: 3rem;
  background-color: #002864;
  transform: translateX(-50%);
}
.front-page .news div[role=tabpanel] a {
  display: flex;
  padding: 3.5rem 3rem;
  font-size: 18px;
  color: #323232;
  border-bottom: 1px solid #aaa;
}
.front-page .news div[role=tabpanel] a time {
  font-size: 1.6rem;
}
.front-page .news div[role=tabpanel] a p {
  margin: 0 0 0 4rem;
  font-size: 1.6rem;
}
.front-page .news div[role=tabpanel] .empty-text {
  padding: 8rem 0;
  font-size: 1.6rem;
  text-align: center;
}
.front-page .news .c_btn-more {
  display: flex;
  justify-content: center;
  margin: 4.8rem 0 0 0;
}
.front-page .news .c_btn-more a {
  position: relative;
  display: block;
  padding-left: 2.5rem;
  width: 17.2rem;
  background-color: #002864;
  color: white;
  font-size: 1.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 750px) {
  .front-page .news .c_btn-more a {
    margin: 0 auto;
    padding-left: 0;
    width: 50rem;
    font-size: 3.4rem;
    line-height: 9rem;
    text-align: center;
  }
}
.front-page .news .c_btn-more a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5rem;
  width: 2.8rem;
  height: 1rem;
  background: url("/assets/images/top/icon-arrow-white.svg") no-repeat center/contain;
  transform: translateY(-50%);
}
.front-page .sec_support {
  position: relative;
  margin-top: 14rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support {
    margin-top: 24rem;
  }
}
.front-page .sec_support::before {
  content: "";
  position: absolute;
  top: 3.5rem;
  right: 0;
  z-index: -1;
  width: 92%;
  height: 42.3rem;
  background-color: #e6f0f5;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support::before {
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.front-page .sec_support .support-img {
  position: absolute;
  top: 16rem;
  left: 0;
  z-index: -1;
  width: 80%;
  height: 40rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .support-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 69.5rem;
  }
}
.front-page .sec_support .support-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.front-page .sec_support .inner {
  margin: 0 auto;
  max-width: 100rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .inner {
    padding-bottom: 18rem;
  }
}
.front-page .sec_support .c_sec-title {
  color: #002864;
  line-height: 1;
  letter-spacing: 0.2em;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .c_sec-title {
    padding-top: 7rem;
    color: #fff;
    text-align: center;
  }
}
.front-page .sec_support .c_sec-title .title-en {
  font-size: 6rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .c_sec-title .title-en {
    font-size: 7rem;
  }
}
.front-page .sec_support .c_sec-title .title-ja {
  margin-top: 2rem;
  font-size: 2rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .c_sec-title .title-ja {
    margin-top: 2.5rem;
    font-size: 3rem;
  }
}
.front-page .sec_support .c_sec-title .title-en-second {
  margin-top: 2rem;
  font-size: 6rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .c_sec-title .title-en-second {
    margin-top: 2.5rem;
    font-size: 7rem;
  }
}
.front-page .sec_support .c_sec-title .title-ja-second {
  font-size: 2rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .c_sec-title .title-ja-second {
    font-size: 3rem;
  }
}
.front-page .sec_support .support-list {
  display: flex;
  justify-content: space-between;
  margin-top: 25rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .support-list {
    display: block;
    margin-top: 12.5rem;
  }
}
.front-page .sec_support .support-list li {
  position: relative;
  width: 31rem;
  height: 32rem;
  padding: 4rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .support-list li {
    width: 63rem;
    height: auto;
    margin: 0 auto;
    padding: 5rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  }
  .front-page .sec_support .support-list li:not(:first-child) {
    margin-top: 7rem;
  }
}
.front-page .sec_support .support-list .head {
  position: relative;
  padding-bottom: 1rem;
  color: #002864;
  font-size: 2.6rem;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .support-list .head {
    padding-bottom: 2rem;
    font-size: 4.2rem;
  }
}
.front-page .sec_support .support-list .head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 4.2rem;
  height: 1px;
  background: #002864;
  transform: translateX(-50%);
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .support-list .head::after {
    width: 4.2rem;
  }
}
.front-page .sec_support .support-list .text {
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 1.7;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .support-list .text {
    margin-top: 3rem;
    font-size: 3.2rem;
  }
}
.front-page .sec_support .support-list .c_btn-more {
  position: absolute;
  right: -1rem;
  bottom: 2.5rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .support-list .c_btn-more {
    position: static;
    margin-top: 6rem;
  }
}
.front-page .sec_support .support-list .c_btn-more a {
  position: relative;
  display: block;
  padding-left: 2.5rem;
  width: 17.2rem;
  background-color: #002864;
  color: white;
  font-size: 1.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 750px) {
  .front-page .sec_support .support-list .c_btn-more a {
    margin: 0 auto;
    padding-left: 0;
    width: 50rem;
    font-size: 3.4rem;
    line-height: 9rem;
    text-align: center;
  }
}
.front-page .sec_support .support-list .c_btn-more a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5rem;
  width: 2.8rem;
  height: 1rem;
  background: url("/assets/images/top/icon-arrow-white.svg") no-repeat center/contain;
  transform: translateY(-50%);
}
.front-page .sec_business {
  margin-top: 15rem;
}
.front-page .sec_business .inner {
  max-width: 100rem;
  margin: 0 auto;
}
.front-page .sec_business .c_sec-title {
  color: #fff;
  line-height: 1;
  letter-spacing: 0.2em;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .front-page .sec_business .c_sec-title {
    padding-top: 7rem;
    color: #fff;
    text-align: center;
  }
}
.front-page .sec_business .c_sec-title .title-en {
  font-size: 6rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_business .c_sec-title .title-en {
    font-size: 7rem;
  }
}
.front-page .sec_business .c_sec-title .title-ja {
  margin-top: 2rem;
  font-size: 2rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_business .c_sec-title .title-ja {
    margin-top: 2.5rem;
    font-size: 3rem;
  }
}
.front-page .sec_business .c_sec-title .title-en-second {
  margin-top: 2rem;
  font-size: 6rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_business .c_sec-title .title-en-second {
    margin-top: 2.5rem;
    font-size: 7rem;
  }
}
.front-page .sec_business .c_sec-title .title-ja-second {
  font-size: 2rem;
}
@media screen and (max-width: 750px) {
  .front-page .sec_business .c_sec-title .title-ja-second {
    font-size: 3rem;
  }
}
.front-page .sec_business .sec-lead {
  display: flex;
  margin-top: 0.5rem;
  font-size: 2.4rem;
  color: #fff;
}
.front-page .sec_business .link-block {
  position: relative;
  padding: 7rem 0 5rem;
}
.front-page .sec_business .link-block .business-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000b26;
}
.front-page .sec_business .link-block .business-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.front-page .sec_business .link-block .link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem 2.7rem;
  margin-top: 5rem;
}
.front-page .sec_business .link-block .link-list .c_btn01 a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.5rem;
  height: 7rem;
  font-size: 1.7rem;
  background: #fff;
  color: #000;
}
@media screen and (max-width: 750px) {
  .front-page .sec_business .link-block .link-list .c_btn01 a {
    width: 50rem;
    height: 10rem;
    margin: 0 auto;
    font-size: 3.2rem;
  }
}
.front-page .sec_business .link-block .link-list .c_btn01 a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.8rem;
  height: 1rem;
  background: url("/assets/images/top/icon-arrow.svg") no-repeat center/contain;
}
@media screen and (max-width: 750px) {
  .front-page .sec_business .link-block .link-list .c_btn01 a::after {
    right: 2rem;
    width: 4rem;
    height: 1.1rem;
  }
}
@media screen and (max-width: 750px) {
  .front-page .sec_business {
    margin-top: 0;
  }
  .front-page .sec_business .c_sec-title {
    text-align: center;
  }
  .front-page .sec_business .sec-lead {
    display: block;
    margin-top: 7rem;
    font-size: 3.4rem;
    text-align: center;
  }
  .front-page .sec_business .link-block {
    padding: 12rem 0 18rem;
  }
  .front-page .sec_business .link-block .business-img img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
  .front-page .sec_business .link-block .link-list {
    display: block;
    margin-top: 14rem;
  }
  .front-page .sec_business .link-block .link-list li:not(:first-child) {
    margin-top: 5rem;
  }
}
.front-page .contact .inner {
  padding: 80px 0 50px;
  background-color: #f0f0f0;
}
.front-page .contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 56rem;
  height: 10rem;
  background-color: #002864;
  color: #fff;
  font-size: 3.2rem;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 750px) {
  .front-page .contact a {
    width: 60rem;
    font-size: 4rem;
  }
}
.front-page .contact p {
  margin: 2.4rem 0 0 0;
  font-size: 2rem;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .front-page .contact p {
    margin: 3.2rem 0 0 0;
    font-size: 2.8rem;
  }
}

.archive-news .lower-header {
  position: relative;
  padding: 6.4rem 12rem;
}
.archive-news .lower-header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 9.6rem;
  height: 3px;
  background: linear-gradient(to left, #002864, #005169 25%, #006882 50%, #00a3a3 70%, #dae000 95%, #dae000);
}
.archive-news .lower-header h1 {
  color: #002864;
  font-size: 4.4rem;
  font-family: "Shippori Mincho B1", serif;
  line-height: 1.6;
}
.archive-news .breadcrumb {
  padding: 2.4rem 0;
  background-color: #e6f0f5;
}
.archive-news .breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
  margin: 0 auto;
  max-width: 100rem;
}
.archive-news .breadcrumb ol li {
  position: relative;
  color: #828282;
  font-size: 2rem;
}
.archive-news .breadcrumb ol li + li {
  position: relative;
  padding-left: 2.6rem;
}
.archive-news .breadcrumb ol li + li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  border-right: 1.2px solid #002864;
  border-top: 1.2px solid #002864;
  transform: translateY(-50%) rotate(45deg);
}
.archive-news .breadcrumb ol li span {
  color: #002864;
}
.archive-news .posts {
  margin: 8rem 0 0 0;
}
.archive-news .posts .inner {
  margin: 0 auto;
  max-width: 100rem;
}
.archive-news .posts ul li {
  padding: 2.4rem 0;
  border-bottom: 1px solid rgba(226, 226, 226, 0.8862745098);
}
.archive-news .posts ul li a {
  display: block;
  position: relative;
}
.archive-news .posts ul li a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.4rem;
  width: 0.8rem;
  height: 0.8rem;
  border-right: 2px solid #002864;
  border-top: 2px solid #002864;
  transform: translateY(-50%) rotate(45deg);
}
.archive-news .posts ul li .info {
  display: flex;
  font-size: 1.6rem;
}
.archive-news .posts ul li .info p {
  position: relative;
  margin: 0 0 0 2rem;
  padding-left: 2rem;
}
.archive-news .posts ul li .info p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: calc(100% - 1.3rem);
  background-image: linear-gradient(to bottom, #e2e2e2 5px, transparent 5px);
  background-position: right top;
  background-repeat: repeat-y;
  background-size: 2px 7px;
  min-height: 1rem;
  transform: translateY(-50%);
}
.archive-news .posts ul li .title {
  margin: 2rem 0 0 0;
  font-size: 2rem;
}
.archive-news .pagination {
  margin: 6.4rem 0;
}
.archive-news .pagination .inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100rem;
}
.archive-news .pagination .prev-link,
.archive-news .pagination .next-link {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 12rem;
  border-bottom: 1px solid #002864;
  font-size: 1.4rem;
}
.archive-news .pagination .prev-link::before,
.archive-news .pagination .next-link::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 6px;
  height: 6px;
  border-right: 2px solid #002864;
  border-top: 2px solid #002864;
  transform: translateY(-50%) rotate(-135deg);
}
.archive-news .pagination .prev-link.empty::before,
.archive-news .pagination .next-link.empty::before {
  display: none;
}
.archive-news .pagination .prev-link::before {
  left: 3px;
  transform: translateY(-50%) rotate(-135deg);
}
.archive-news .pagination .next-link::before {
  right: 3px;
  transform: translateY(-50%) rotate(45deg);
}
.archive-news .pagination ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  position: relative;
  padding-bottom: 5rem;
  width: calc(100% - 24rem);
}
.archive-news .pagination ul::before {
  background-color: rgba(226, 226, 226, 0.8862745098);
  bottom: 0;
  content: "";
  height: 1px;
  left: 4px;
  position: absolute;
  width: calc(100% - 0.8rem);
}
.archive-news .pagination ul li {
  align-items: center;
  border: 2px solid rgba(226, 226, 226, 0.8862745098);
  border-radius: 5rem;
  bottom: 0;
  display: flex;
  font-size: 1.8rem;
  height: 4.8rem;
  justify-content: center;
  position: relative;
  width: 4.8rem;
}
.archive-news .pagination ul li.is_current-page {
  background-color: #e6f0f5;
  border: none;
}
.archive-news .pagination ul li a {
  font-weight: 700;
  height: 4.8rem;
  padding: 1.4rem;
  text-align: center;
  width: 4.8rem;
}

.single-news .lower-header {
  position: relative;
  padding: 6.4rem 12rem;
}
.single-news .lower-header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 9.6rem;
  height: 3px;
  background: linear-gradient(to left, #002864, #005169 25%, #006882 50%, #00a3a3 70%, #dae000 95%, #dae000);
}
.single-news .lower-header h1 {
  color: #002864;
  font-size: 4.4rem;
  font-family: "Shippori Mincho B1", serif;
  line-height: 1.6;
}
.single-news .breadcrumb {
  padding: 2.4rem 0;
  background-color: #e6f0f5;
}
.single-news .breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
  margin: 0 auto;
  max-width: 100rem;
}
.single-news .breadcrumb ol li {
  position: relative;
  color: #828282;
  font-size: 2rem;
}
.single-news .breadcrumb ol li + li {
  position: relative;
  padding-left: 2.6rem;
}
.single-news .breadcrumb ol li + li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  border-right: 1.2px solid #002864;
  border-top: 1.2px solid #002864;
  transform: translateY(-50%) rotate(45deg);
}
.single-news .breadcrumb ol li span {
  color: #002864;
}
.single-news .post {
  margin: 8rem 0 0 0;
}
.single-news .post .inner {
  margin: 0 auto;
  max-width: 100rem;
}
.single-news .post .header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 1.6rem 0;
  border-bottom: solid 1px #c8c8c8;
}
.single-news .post .header h2 {
  margin: 0 0 1.6rem 0;
  font-size: 3.2rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 0.05em;
}
.single-news .post .header time {
  font-size: 2.2rem;
}
.single-news .post .header .label {
  position: relative;
  margin: 0 0 0 2rem;
  padding-left: 2rem;
  font-size: 2.2rem;
}
.single-news .post .header .label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: calc(100% - 1.3rem);
  background-image: linear-gradient(to bottom, #e2e2e2 5px, transparent 5px);
  background-position: right top;
  background-repeat: repeat-y;
  background-size: 2px 7px;
  min-height: 1rem;
  transform: translateY(-50%);
}
.single-news .post .editor-contents {
  margin: 4rem 0 0 0;
  font-size: 2rem;
  line-height: 1.7;
}
.single-news .pagination {
  margin: 6.4rem 0;
}
.single-news .pagination .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin: 12rem auto 0;
  max-width: 100rem;
}
.single-news .pagination a {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 12rem;
  border-bottom: 1px solid #002864;
  font-size: 1.6rem;
}
.single-news .pagination a[rel=prev],
.single-news .pagination a[rel=next] {
  position: relative;
}
.single-news .pagination a[rel=prev]::before,
.single-news .pagination a[rel=next]::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 6px;
  height: 6px;
  border-right: 2px solid #002864;
  border-top: 2px solid #002864;
  transform: translateY(-50%) rotate(-135deg);
}
.single-news .pagination a[rel=prev]::before {
  left: 3px;
  transform: translateY(-50%) rotate(-135deg);
}
.single-news .pagination a[rel=next]::before {
  right: 3px;
  transform: translateY(-50%) rotate(45deg);
}

.contact .lower-header {
  position: relative;
  padding: 6.4rem 12rem;
}
.contact .lower-header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 9.6rem;
  height: 3px;
  background: linear-gradient(to left, #002864, #005169 25%, #006882 50%, #00a3a3 70%, #dae000 95%, #dae000);
}
.contact .lower-header h1 {
  color: #002864;
  font-size: 4.4rem;
  font-family: "Shippori Mincho B1", serif;
  line-height: 1.6;
}
.contact .breadcrumb {
  padding: 2.4rem 0;
  background-color: #e6f0f5;
}
.contact .breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;
  margin: 0 auto;
  max-width: 100rem;
}
.contact .breadcrumb ol li {
  position: relative;
  color: #828282;
  font-size: 2rem;
}
.contact .breadcrumb ol li + li {
  position: relative;
  padding-left: 2.6rem;
}
.contact .breadcrumb ol li + li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  border-right: 1.2px solid #002864;
  border-top: 1.2px solid #002864;
  transform: translateY(-50%) rotate(45deg);
}
.contact .breadcrumb ol li span {
  color: #002864;
}
.contact .input {
  margin: 8rem 0 0 0;
}
.contact .input .inner {
  margin: 0 auto;
  max-width: 100rem;
}
.contact .input .lead {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.02em;
}
.contact .input .lead span {
  display: block;
  color: #f00;
}
.contact .input .error {
  width: 100%;
  margin-top: 1rem;
  color: #f00;
  font-size: 1.2rem;
}
@media screen and (max-width: 750px) {
  .contact .input .error {
    font-size: 2.4rem;
  }
}
.contact .input form {
  margin-top: 6rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 750px) {
  .contact .input form {
    margin-top: 10rem;
  }
}
.contact .input form dl > div {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 750px) {
  .contact .input form dl > div {
    flex-direction: column;
  }
}
.contact .input form dl > div:not(:first-of-type) {
  margin-top: 4rem;
}
.contact .input form dl > div:nth-child(7) dd.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.contact .input form dl > div dt {
  width: 25rem;
  font-weight: 700;
  line-height: 3rem;
}
@media screen and (max-width: 750px) {
  .contact .input form dl > div dt {
    width: auto;
    font-size: 2.8rem;
  }
}
.contact .input form dl > div dd input:not([name=type]) {
  width: 60rem;
  height: 4rem;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 0.5em;
}
@media screen and (max-width: 750px) {
  .contact .input form dl > div dd input:not([name=type]) {
    width: 100%;
    height: auto;
    font-size: 2.8rem;
  }
}
.contact .input form dl > div dd textarea {
  width: 60rem;
  min-height: 16rem;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 0.5em;
  font-size: 1.6rem;
  resize: vertical;
}
@media screen and (max-width: 750px) {
  .contact .input form dl > div dd textarea {
    width: 100%;
    min-height: 25rem;
    font-size: 2.8rem;
  }
}
.contact .input form dl > div dd p {
  margin-top: 0.8rem;
  color: #999;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
}
.contact .input form dl > div dt.check {
  position: relative;
}
.contact .input form dl > div dt.check::after {
  content: "※確認";
  position: absolute;
  top: 3rem;
  left: 0;
  color: #f00;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
}
@media screen and (max-width: 750px) {
  .contact .input form dl > div dt.check::after {
    position: initial;
    display: inline-block;
    padding-left: 1rem;
    font-size: 2.4rem;
  }
}
.contact .input form dl > div.type dd {
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 4rem;
  line-height: 3rem;
}
@media screen and (max-width: 750px) {
  .contact .input form dl > div.type dd {
    width: 100%;
    gap: 2rem;
    margin-top: 1rem;
  }
}
.contact .input form dl > div.type dd label {
  white-space: nowrap;
}
@media screen and (max-width: 750px) {
  .contact .input form dl > div.type dd label {
    font-size: 2.8rem;
  }
}
.contact .input form dl > div.type dd .error {
  margin-top: 0;
}
.contact .input form label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.contact .input form label input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact .input form label input:checked + .icon::before {
  border-color: #002864;
  opacity: 0;
  transform: rotate(45deg) scale3d(2, 2, 1);
}
.contact .input form label input:checked + .icon::after {
  border-bottom: 2px solid #002864;
  border-left: 2px solid #002864;
  opacity: 1;
  transform: rotate(-45deg);
}
.contact .input form label .icon {
  position: relative;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}
@media screen and (max-width: 750px) {
  .contact .input form label .icon {
    width: 3rem;
    height: 3rem;
  }
}
.contact .input form label .icon::before, .contact .input form label .icon::after {
  content: "";
  position: absolute;
}
.contact .input form label .icon::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.5s, opacity 0.5s, transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contact .input form label .icon::after {
  top: 0.5rem;
  left: 0.3rem;
  width: 1.6rem;
  height: 0.8rem;
  border-bottom: 2px solid #002864;
  border-left: 2px solid #002864;
  opacity: 0;
  transform: rotate(-225deg);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 750px) {
  .contact .input form label .icon::after {
    top: 0.7rem;
    width: 2rem;
    height: 1.2rem;
  }
}
.contact .input form label .text {
  display: inline-block;
  letter-spacing: 0.05em;
  margin: 0 0 0 1rem;
}
.contact .input form .instruction {
  width: 86rem;
  height: 20rem;
  padding: 3rem;
  margin: 5rem auto;
  overflow-y: scroll;
  border: 1px solid #ccc;
}
@media screen and (max-width: 750px) {
  .contact .input form .instruction {
    width: 100%;
    height: 30rem;
  }
}
.contact .input form .instruction dl dt {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 750px) {
  .contact .input form .instruction dl dt {
    font-size: 2.4rem;
  }
}
.contact .input form .instruction dl dt::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  background-color: #002864;
}
@media screen and (max-width: 750px) {
  .contact .input form .instruction dl dt::before {
    width: 1.8rem;
    height: 1.8rem;
  }
}
.contact .input form .instruction dl dt:not(:first-of-type) {
  margin-top: 4rem;
}
.contact .input form .instruction dl dd {
  line-height: 1.7;
}
@media screen and (max-width: 750px) {
  .contact .input form .instruction dl dd {
    font-size: 2.2rem;
  }
}
.contact .input form .instruction dl dd ol {
  margin: 1.6rem 0 4rem 3rem;
  list-style: auto;
}
.contact .input form .instruction dl dd a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: underline;
}
.contact .input form .agreement {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .contact .input form .agreement {
    font-size: 2.4rem;
  }
}
.contact .input form .submit-button {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}
.contact .input form .submit-button button {
  transition: background-color 0.2s ease, color 0.2s ease;
  border: 1px solid #000;
  width: 37rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 8rem;
  letter-spacing: 0.4em;
}
@media screen and (max-width: 750px) {
  .contact .input form .submit-button button {
    font-size: 2.8rem;
  }
}
.contact .input form .submit-button button[disabled=true] {
  opacity: 0.5;
  cursor: not-allowed;
}
.contact .input form .submit-button button[disabled=false] {
  opacity: 1;
  cursor: pointer;
}
.contact .input form .submit-button button:hover {
  color: #fff;
  background-color: #000;
}
.contact .confirm {
  margin: 8rem 0 0 0;
}
.contact .confirm .inner {
  margin: 0 auto;
  max-width: 100rem;
}
.contact .confirm .lead {
  line-height: 2;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 750px) {
  .contact .confirm .lead {
    text-align: initial;
    font-size: 2.8rem;
  }
}
.contact .confirm form {
  margin-top: 6rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 750px) {
  .contact .confirm form {
    margin-top: 10rem;
  }
}
.contact .confirm dl > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 750px) {
  .contact .confirm dl > div {
    flex-direction: column;
  }
}
.contact .confirm dl > div:not(:first-of-type) {
  margin-top: 4rem;
}
.contact .confirm dl > div:nth-child(7) dd.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.contact .confirm dl > div dt {
  width: 25rem;
  font-weight: 700;
  line-height: 3rem;
}
@media screen and (max-width: 750px) {
  .contact .confirm dl > div dt {
    width: auto;
    font-size: 2.8rem;
  }
}
.contact .confirm dl > div dd input:not([name=type]) {
  width: 60rem;
  height: 4rem;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 0.5em;
}
@media screen and (max-width: 750px) {
  .contact .confirm dl > div dd input:not([name=type]) {
    width: 100%;
    height: auto;
    font-size: 2.8rem;
  }
}
.contact .confirm dl > div dd textarea {
  width: 60rem;
  min-height: 16rem;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 0.5em;
  font-size: 1.6rem;
  resize: vertical;
}
@media screen and (max-width: 750px) {
  .contact .confirm dl > div dd textarea {
    width: 100%;
    min-height: 25rem;
    font-size: 2.8rem;
  }
}
.contact .confirm dl > div dd p {
  margin-top: 0.8rem;
  color: #999;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
}
.contact .confirm .submit-button {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 10rem 0;
}
.contact .confirm .submit-button button {
  transition: background-color 0.2s ease, color 0.2s ease;
  border: 1px solid #000;
  width: 37rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 8rem;
  letter-spacing: 0.4em;
}
@media screen and (max-width: 750px) {
  .contact .confirm .submit-button button {
    font-size: 2.8rem;
  }
}
.contact .confirm .submit-button button[disabled=true] {
  opacity: 0.5;
  cursor: not-allowed;
}
.contact .confirm .submit-button button[disabled=false] {
  opacity: 1;
  cursor: pointer;
}
.contact .confirm .submit-button button:hover {
  color: #fff;
  background-color: #000;
}
.contact .thanks {
  margin: 8rem 0 0 0;
}
.contact .thanks .inner {
  margin: 0 auto;
  max-width: 100rem;
}
.contact .thanks .lead {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 750px) {
  .contact .thanks .lead {
    font-size: 2.8rem;
  }
}
.contact .thanks .text {
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 750px) {
  .contact .thanks .text {
    font-size: 2.6rem;
  }
}
.contact .thanks .top-button {
  width: 37rem;
  margin: 10rem auto 0;
}
.contact .thanks .top-button a {
  display: block;
  width: 100%;
  border: 1px solid #000;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-align: center;
  font-size: 1.6rem;
  line-height: 8rem;
  letter-spacing: 0.4em;
}
@media screen and (max-width: 750px) {
  .contact .thanks .top-button a {
    font-size: 2.8rem;
  }
}
.contact .thanks .top-button a:hover {
  color: #fff;
  background-color: #000;
}

/*# sourceMappingURL=styles.css.map*/