@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.site-footer {
  content-visibility: auto;
  contain-intrinsic-size: 32rem;
  background-color: #323232;
  @include f.mq(sp) {
  }

  .inner {
    position: relative;
    max-width: 100rem;
    margin: 0 auto;
    padding: 8rem 0 6rem;
    @include f.mq(sp) {
      padding: 8.8rem 0 4.8rem;
      max-width: 64rem;
    }

    &[data-anime="true"] {
      &::before {
        transform: scaleX(1);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 4.8rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #a5a5a5;
      transform: scaleX(0);
      transform-origin: left top;
      transition: transform 1s cubic-bezier(1, 0, 0, 1);
      @include f.mq(sp) {
      }
    }
  }

  .footer-link {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4.8rem;
    color: #fff;
    font-size: 3.2rem;
    font-size: 3.2rem;
    @include f.mq(sp) {
      height: 3.2rem;
      font-size: 4.8rem;
    }
  }

  .footer-nav {
    ul {
      display: flex;
      justify-content: center;
      gap: 4rem;
      margin: 2rem 0 0 0;
      @include f.mq(sp) {
        align-items: center;
        flex-direction: column;
        gap: 6.4rem;
        margin: 8rem 0 0 0;
      }
      li {
        a {
          color: #fff;
          font-size: 2rem;
          @include f.mq(sp) {
            font-size: 2.8rem;
          }
        }
      }
    }
  }

  .footer-tel {
    display: flex;
    justify-content: center;
    margin: 4rem 0 0 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    @include f.mq(sp) {
      margin: 6.6rem 0 0 0;
      font-size: 3rem;
    }
  }

  .footer-hours {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    @include f.mq(sp) {
      font-size: 2rem;
    }
  }

  .footer-copy {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    @include f.mq(sp) {
      margin-top: 6.5rem;
      font-size: 1.8rem;
    }
  }
}
