@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.site-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    padding: 0 6rem;
    max-width: 140rem;
    height: 9.5rem;
  }

  h1 a,
  .logo a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    color: #002864;
    font-size: 3.2rem;
    @include modules.hover {
      opacity: 0.8;
    }
  }

  nav {
    .global-menu-list {
      display: flex;
      align-items: center;
      gap: 5rem;

      > li {
        &:last-child {
          a {
            padding: 1rem 2.4rem;
            border: 2px solid #ddd;
            border-radius: 2rem;
          }
        }

        &:not(:last-child) > a {
          @include modules.hover {
            color: #002864;
            &::after {
              width: 100%;
              @include f.mq(sp) {
                width: 1rem;
              }
            }
          }

          &.is-current-section {
            color: #002864;
            &::after {
              width: 100%;
              @include f.mq(sp) {
                width: 2rem;
              }
            }
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 50%;
            z-index: 10;
            display: block;
            width: 0;
            height: 1px;
            background-color: #002864;
            transform: translateX(-50%);
            transition: width 0.2s ease;
          }
        }

        > a {
          position: relative;
          display: block;
          color: #333;
          font-size: 1.6rem;
          @include f.mq(sp) {
            font-size: 3.2rem;
          }
        }

        .nav-detail {
          position: absolute;
          top: 100%;
          left: 0;
          padding: 0 0 4rem 0;
          width: 100%;
          background-color: #fff;
          box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.1);
          scrollbar-gutter: stable;
          visibility: hidden;
          overflow: auto;
          &[aria-hidden="false"] {
            visibility: visible;
          }

          .nav-detail-content {
            display: flex;
            margin-inline: auto;
            padding: 10rem;

            .nav-detail-content-header {
              position: relative;
              padding: 0 6rem 0 0;

              &::after {
                position: absolute;
                top: 0;
                right: 0;
                width: 2px;
                height: 100%;
                background-image: linear-gradient(0deg, #dddad8 25%, transparent 25%);
                background-position: 0 0;
                background-repeat: repeat-y;
                background-size: 2px 8px;
                content: "";
              }

              h2 {
                display: flex;
                align-items: center;
                gap: 0 1rem;
                font-size: 1.8rem;
                font-weight: 700;

                &::before {
                  content: "";
                  width: 0.8rem;
                  height: 0.8rem;
                  border-radius: 50%;
                  background-color: #ff9900;
                }
              }

              p {
                margin-top: 2rem;
                color: #706d65;
                font-size: 1.6rem;
                font-weight: 700;
              }

              a {
                display: flex;
                width: max-content;
                align-items: center;
                justify-content: center;
                padding: 1.3rem 15px 1.3rem 18px;
                border-radius: 999px;
                background-color: #23221f;
                color: #fff;
                font-size: 1.6rem;
                font-weight: 700;
                gap: 0 5px;
                line-height: 1.1;
                margin-top: 3rem;
              }
            }

            ul {
              display: grid;
              grid-gap: 2.4rem;
              grid-column: 2 / span 2;
              grid-template-columns: repeat(3, minmax(0, 1fr));
              margin: 0 0 0 6rem;

              li {
                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 1.2rem 1.4rem;
                  border: 1px solid #23221f;
                  border-radius: 4rem;
                  font-size: 1.6rem;
                }
              }
            }
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline: auto;
            padding-block: 2rem;
            width: calc(100% - 20rem);
            border-radius: 0.5rem;
            background-color: #f8f7f6;
            font-size: 1.4rem;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }
  }

  @include f.mq(sp) {
    .inner {
      padding: 0;
      max-width: 69rem;
      height: 12rem;
    }

    h1 img,
    div img {
      width: 21.9rem;
      height: 3.1rem;
    }

    nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #fff;
      overflow: auto;
      visibility: hidden;
      transition: height 0.4s ease, visibility 0.4s ease;
    }

    nav ul {
      align-items: flex-start;
      flex-direction: column;
      gap: 0;
    }

    nav ul li {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    nav > ul > li:not(:last-child) + li:not(:last-child) {
      border-top: 1px solid #e0d9d9;
    }

    nav > ul > li:nth-child(5) {
      border-bottom: 1px solid #e0d9d9;
    }

    nav > ul > li:last-child {
      align-items: center;
      margin: 6.4rem 0;
    }

    nav > ul > li > a {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
    }

    nav > ul > li:not(:last-child) > a {
      padding: 4rem 4rem;
      border-left: 4px solid #002864;
    }

    nav > ul > li:not(:last-child) > a::after {
      position: relative;
      bottom: auto;
      left: auto;
      display: inline-flex;
      width: 2rem;
      height: 2rem;
      border-right: 2px solid #002864;
      border-bottom: 2px solid #002864;
      background-color: transparent;
      transform: rotate(-45deg);
    }

    nav > ul > li:last-child a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 62rem;
      height: 10rem;
      border-radius: 5rem;
      border: 2px solid #002864;
      font-size: 3rem;
    }

    nav > ul > li:last-child a::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 1.6rem;
      z-index: 10;
      width: 8rem;
      height: 8rem;
      background-image: url("/assets/images/common/icon-contact.png");
      background-repeat: no-repeat;
      background-size: 3.4rem 2.6rem;
      background-position: center;
      border: 2px solid #002864;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    nav ul li a.hover::after,
    nav ul li a.is-current-section::after {
      width: 1rem;
    }

    .drawer-btn {
      position: relative;
      display: block;
      width: 2.4rem;
      height: 100%;
      background-color: transparent;
      border: none;
    }

    .drawer-btn .drawer-line {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 4rem;
      height: 2px;
      background-color: #002864;
      transform: translateY(-50%);
      transition: background-color 0.2s ease;
    }

    .drawer-btn[aria-expanded="true"] .drawer-line {
      background-color: transparent;
    }

    .drawer-btn .drawer-line::before,
    .drawer-btn .drawer-line::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #002864;
      transition: transform 0.4s ease;
    }

    .drawer-btn[aria-expanded="false"] .drawer-line::before {
      top: -6px;
    }

    .drawer-btn[aria-expanded="false"] .drawer-line::after {
      top: 6px;
    }

    .drawer-btn[aria-expanded="true"] .drawer-line::before {
      top: 0;
      transform: rotate(45deg);
    }

    .drawer-btn[aria-expanded="true"] .drawer-line::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
