@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.site-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    padding: 0 6rem;
    max-width: 140rem;
  }

  .skip-link {
    position: absolute;
    inset: 0 auto;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1.5em;
    width: 24rem;
    height: 2.4rem;
    border-radius: 0 0 7px 7px;
    background-color: #002864;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    transform: translateY(-100%);

    &:focus {
      transform: translateX(0%);
    }
  }

  h1 a,
  .logo a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    color: #002864;
    font-size: 3.2rem;
    @include modules.hover {
      opacity: 0.8;
    }
  }

  nav {
    .global-menu-list {
      display: flex;
      align-items: center;
      gap: 5rem;
      height: 9.4rem;

      > li {
        // 共通
        > a,
        > button {
          position: relative;
          color: #333;
          font-size: 1.6rem;
          @include f.mq(sp) {
            font-size: 3.2rem;
          }
        }

        // お問い合わせボタン以外
        &:not(:last-child) {
          height: 100%;
          > a,
          > button {
            display: flex;
            align-items: center;
            height: 100%;

            &::after {
              content: "";
              position: absolute;
              bottom: 2rem;
              left: 50%;
              z-index: 10;
              display: block;
              width: 0;
              height: 1px;
              background-color: #002864;
              transform: translateX(-50%);
              transition: width 0.2s ease;
            }

            &:is(&:hover, &[aria-expanded="true"]) {
              color: #002864;
              &::before {
                transform: translateY(-50%) rotate(-180deg);
              }

              &::after {
                width: 100%;
              }
            }

            &.is-current-section {
              color: #002864;
              &::after {
                width: 100%;
              }
            }
          }

          > button {
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              right: -1.6rem;
              width: 1rem;
              height: 0.8rem;
              background-color: #002864;
              clip-path: polygon(0 0, 100% 0%, 50% 100%);
              transform: translateY(-50%);
              transition: transform 0.2s ease;
            }
          }
        }

        // お問い合わせボタン
        &:last-child {
          a {
            position: relative;
            overflow: hidden;
            z-index: 1;
            position: relative;
            display: block;
            padding: 1rem 2.4rem;
            min-width: 15rem;
            border: 1px solid #ddd;
            border-radius: 2rem;
            overflow: hidden;

            @include modules.hover {
              color: #fff;
              &::before {
                transform: translateX(0);
              }
            }

            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: #002864;
              transform: translateX(-100%);
              transition: transform 0.3s;
              z-index: -1;
            }
          }
        }

        .nav-detail {
          position: absolute;
          top: 100%;
          left: 0;
          padding: 0 0 4rem 0;
          width: 100%;
          background-color: #fff;
          box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.1);
          scrollbar-gutter: stable;
          overflow: auto;
          visibility: hidden;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          transition: visibility 0.3s, clip-path 0.3s;

          &[aria-hidden="false"] {
            visibility: visible;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }

          .nav-detail-content {
            display: flex;
            margin-inline: auto;
            padding: 10rem;

            .nav-detail-content-header {
              position: relative;
              padding: 0 6rem 0 0;

              &::after {
                position: absolute;
                top: 0;
                right: 0;
                width: 2px;
                height: 100%;
                background-image: linear-gradient(0deg, #dddad8 25%, transparent 25%);
                background-position: 0 0;
                background-repeat: repeat-y;
                background-size: 2px 8px;
                content: "";
              }

              h2 {
                display: flex;
                align-items: center;
                gap: 0 1rem;
                font-size: 1.8rem;
                font-weight: 700;

                &::before {
                  content: "";
                  width: 0.8rem;
                  height: 0.8rem;
                  border-radius: 50%;
                  background-color: #ff9900;
                }
              }

              p {
                margin-top: 2rem;
                color: #706d65;
                font-size: 1.6rem;
                font-weight: 700;
              }

              a {
                display: flex;
                width: max-content;
                align-items: center;
                justify-content: center;
                padding: 1.3rem 15px 1.3rem 18px;
                border-radius: 999px;
                background-color: #23221f;
                color: #fff;
                font-size: 1.6rem;
                font-weight: 700;
                gap: 0 5px;
                line-height: 1.1;
                margin-top: 3rem;
              }
            }

            ul {
              display: grid;
              grid-gap: 2.4rem;
              grid-column: 2 / span 2;
              grid-template-columns: repeat(3, minmax(0, 1fr));
              margin: 0 0 0 6rem;

              li {
                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 1.2rem 1.4rem;
                  border: 1px solid #23221f;
                  border-radius: 4rem;
                  font-size: 1.6rem;
                }
              }
            }
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline: auto;
            padding-block: 2rem;
            width: calc(100% - 20rem);
            border-radius: 0.5rem;
            background-color: #f8f7f6;
            font-size: 1.4rem;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }

    .js-focus-trap {
      display: none;
    }
  }

  @include f.mq(sp) {
    .inner {
      padding: 3.2rem 4rem;
      background-color: #fff;
    }

    h1 a,
    .logo a {
      width: 21.9rem;
      height: 3.1rem;
    }

    nav {
      position: fixed;
      top: 11rem;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 88%;
      border-radius: 0 0 3.2rem 3.2rem;
      background-color: #fff;
      box-shadow: 0 8px 40px rgba(21, 38, 50, 0.13);
      overflow: auto;
      visibility: hidden;
      transform: translateY(-100%);
      will-change: transform;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.4s ease;

      &.dragging-up {
        transition: none;
      }

      .global-menu-list {
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
        background-color: #fff;

        > li {
          display: flex;
          flex-direction: column;
          width: 100%;

          &:not(:last-child) + li:not(:last-child) {
            border-top: 1px solid #e0d9d9;
          }

          &:nth-child(5) {
            border-bottom: 1px solid #e0d9d9;
          }

          // 共通
          > a,
          > button {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
          }

          // お問い合わせボタン以外
          &:not(:last-child) {
            height: auto;
            > a,
            > button {
              height: auto;
              padding: 4rem 4rem;
              border-left: 4px solid #002864;

              &::after {
                position: relative;
                bottom: auto;
                left: auto;
                display: inline-flex;
                width: 2rem;
                height: 2rem;
                border-right: 2px solid #002864;
                border-bottom: 2px solid #002864;
                background-color: transparent;
                transform: rotate(-45deg);
              }

              &:is(&:hover, &[aria-expanded="true"]) {
                &::after {
                  width: 2rem;
                }
              }

              &.is-current-section {
                &::after {
                  width: 2rem;
                }
              }
            }

            > button {
              &::before {
                display: none;
              }
            }
          }

          // お問い合わせボタン
          &:last-child {
            align-items: center;
            margin: 6.4rem 0 0 0;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              width: 62rem;
              height: 10rem;
              border-radius: 5rem;
              border: 2px solid #002864;
              font-size: 3rem;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 1.6rem;
                z-index: 10;
                width: 8rem;
                height: 8rem;
                background-color: transparent;
                background-image: url("/assets/images/common/icon-contact.png");
                background-repeat: no-repeat;
                background-size: 3.4rem 2.6rem;
                background-position: center;
                border: 2px solid #002864;
                border-radius: 50%;
                transform: translateY(-50%);
              }
            }
          }

          .nav-detail {
            display: none;
          }
        }
      }

      .js-focus-trap {
        display: block;
      }

      .drag-handle {
        position: absolute;
        left: 50%;
        bottom: 0;
        display: grid;
        place-items: center;
        width: 100%;
        height: 10rem;
        transform: translateX(-50%);
        span {
          display: block;
          width: 14rem;
          height: 4px;
          background-color: #ddd;
          border-radius: 1rem;
        }
      }
    }

    .drawer-button {
      width: 4.8rem;
      border-radius: 50%;
      color: #002864;
      cursor: pointer;

      &[aria-expanded="true"] {
        svg {
          rotate: 90deg;
          transition: rotate 0.4s 0.4s;
        }

        rect {
          transition: translate 0.2s, rotate 0.2s 0.3s;

          &:nth-of-type(1) {
            translate: 0 333%;
            rotate: -45deg;
          }

          &:nth-of-type(2) {
            rotate: 45deg;
          }

          &:nth-of-type(3) {
            translate: 0 -333%;
            rotate: 45deg;
          }
        }
      }

      rect {
        transform-box: fill-box;
        transform-origin: 50% 50%;
        transition: rotate 0.2s 0s, translate 0.2s 0.2s;
      }
    }
  }
}
